{%- liquid
  unless limit
    assign limit = main_menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}
 {% assign collectionTitle = collection.handle | downcase %}
<ul class="site-nav site-navigation small--hide" {% unless disable_aria %}
  role="navigation"aria-label="Primary"
  {% endunless %}>
  {%- for link in main_menu.links limit: limit offset: offset -%}
    {%- liquid
      assign has_dropdown = false
      assign is_megamenu = true
      if link.links != blank
        assign has_dropdown = true
        if link.levels > 1
          assign is_megamenu = true
        endif
      endif
    -%}

    <li class="site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% if is_megamenu %} site-nav--is-megamenu{% endif %}" {% if has_dropdown %}aria-haspopup="true"{% endif %}>

      <a {% if link.levels < 1 %}href="{{ link.url }}"{% endif %} class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %} np-h6 desktop-nav-item fa_custom_lsp">
        {{ link.title }}
      </a>
      {%- if is_megamenu -%}
        {%- assign previous_column_type = '' -%}
        {%- assign animation_column = 1 -%}

        <div class="site-nav__dropdown megamenu text-left">
          <div class="page-width new-custom-dropdown">
            <div class="grid{% if dropdown_alignment == 'center' %} grid--center{% endif %}">
              
                <div class="grid__item medium-up--one-fifth appear-animation">
                {%- assign animation_column = animation_column | plus: 1 -%}

                {%- for childlink in link.links -%}
                  {%- liquid
                    assign create_new_column = false

                    if childlink.levels > 0 and forloop.index != 1
                      assign create_new_column = true
                    endif

                    if childlink.levels == 0 and previous_column_type == 'full'
                      assign create_new_column = true
                    endif
                  -%}

                  {%- if create_new_column -%}
                  </div>
              

                  <div class="grid__item medium-up--one-fifth appear-animation">
                    {%- assign animation_column = animation_column | plus: 1 -%}
                  {%- endif -%}

                  {%- if childlink.levels > 0 and childlink.url contains '/collections/' -%}
                    {%- if collections[childlink.object.handle].image != blank -%}
                      <a href="{{ childlink.url }}" class="megamenu__colection-image" aria-label="{{collections[childlink.object.handle].title}}" style="background-image: url({{ collections[childlink.object.handle].image | img_url: '400x' }})"></a>
                    {%- endif -%}
                  {%- endif -%}
                  
                  {%- if childlink.levels > 0 and childlink.url contains '/pages/' -%}
                                          <!--                     <a href="{{ childlink.url }}" class="megamenu__colection-image" aria-label="{{pages[childlink.object.handle].image }}">
                                                              {{ pages[childlink.object.handle].content }}
                                                              </a> -->
                      <a href="{{ childlink.url }}" class="megamenu__colection-image" aria-label="{{pages[childlink.object.handle].title }}" style="background-image: url({{ pages[childlink.object.handle].content }})"></a>
                  {%- endif -%}

                 {%- if childlink.levels > 0 and childlink.url contains '/blogs/' -%}
                    {%- assign article_handle = childlink.url | remove: '/blogs/' -%}
                      <a href="{{ childlink.url }}" class="megamenu__colection-image" aria-label="{{articles[childlink.object.handle].title }}" style="background-image: url({{ articles[article_handle].image | img_url: '400x' }})"></a>
                  {%- endif -%}

                  {% if childlink.url contains '/collections/' or  childlink.url contains '/pages/' or childlink.url contains '/blogs/'%}
                  <div class="megamenu-link-title hide">
                    <a class="np-h6 site-nav__dropdown-link site-nav__dropdown-link--top-level dropdown-menu-header-part ">{{ childlink.title }}</a>
                  </div>

                    {% else %}
                    <div class="megamenu-link-title">
                      <a class="np-h6 site-nav__dropdown-link site-nav__dropdown-link--top-level dropdown-menu-header-part {% if forloop.first %} first-megamenu-title-hmv {% endif %} ">{{ childlink.title }}</a>
                    </div>
                    {% endif %}
                    
                  {%- liquid
                    if childlink.levels > 0
                      assign previous_column_type = 'full'
                    else
                      assign previous_column_type = 'single'
                    endif
                  -%}
                
              

                  {% if forloop.index == 4 or forloop.index == 5%}
                    
                    {%- for grandchildlink in childlink.links -%}
                      <div class="grandchildlink-style fa-grandchild-custom">                 
                        <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link np-h6 dropdown-menu-child-part last-grand-childs-title">{{grandchildlink.title}} →  </a>
                      </div>
                      
                    {%- endfor -%}
                    {% else %}
                    {%- for grandchildlink in childlink.links -%}
                      <div class="grandchildlink-style fa-grandchild-custom">                 
                        <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link np-h6 dropdown-menu-child-part">{{grandchildlink.title}}   </a>
                      </div>
                      
                    {%- endfor -%}
                    
                  {% endif %}

                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
      {%- elsif has_dropdown -%}
        <ul class="site-nav__dropdown text-left">
          {%- for childlink in link.links -%}
            {%- liquid
              assign has_sub_dropdown = false
              if childlink.links != blank
                assign has_sub_dropdown = true
              endif
            -%}

            <li class="{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
              <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--second-level{% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
                {{ childlink.title | escape }}
                {%- if has_sub_dropdown -%}
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
                {%- endif -%}
              </a>
              {%- if has_sub_dropdown -%}
                <ul class="site-nav__deep-dropdown">
                  {%- for grandchildlink in childlink.links -%}
                    <li>
                      <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">{{ grandchildlink.title | escape }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>

<!-- <script>
  document.querySelectorAll('.grid__item.medium-up--one-fifth.appear-animation').forEach(elem => {
    if (elem.firstChild.classList[0] == "megamenu__colection-image") {
      elem.childNodes[2].style.display = "none";
    };
  });
</script> -->

<style>
  .site-nav__item:nth-child(3) .megamenu-link-title:nth-child(1) {
    display:none;
  }
  .grandchildlink-style .site-nav__dropdown-link.last-grand-childs-title{
    color: #2B2725;
    font-variant-numeric: lining-nums proportional-nums ordinal;
    /* H6 All */
    font-family: Silvana;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 27px !important; /* 135% */
    letter-spacing: -0.2px !important;
  }
</style>

<!-- 
{% unless limit %}
{%- assign limit = main_menu.links.size -%}
{% endunless %}
{% unless offset %}
{%- assign offset = 0 -%}
{% endunless %}

<ul
class="site-nav site-navigation small--hide"
{% unless disable_aria %}
role="navigation" aria-label="Primary"
{% endunless %}>
{% for link in main_menu.links limit: limit offset: offset %}
{%- assign has_dropdown = true -%}
{%- assign is_megamenu = true -%}
{% if link.links != blank %}
{%- assign has_dropdown = true -%}
{% if link.levels > 1 %}
{%- assign is_megamenu = true -%}
{% endif %}
{% if link.handle == "our-mission" %}
{%- assign is_megamenu = true -%}
{% endif %}
{% endif %}

<li
class="site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% if is_megamenu %} site-nav--is-megamenu{% endif %} {% if link.handle == 'sale' %} sale-off{% endif %}"
{% if has_dropdown %}aria-haspopup="true"{% endif %}>

<a href="{{ link.url }}"  data-sale="{{ link.handle }}"  class="np-h6 site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}">
{{ link.title }}
</a>
{% if is_megamenu %}
{%- assign previous_column_type = '' -%}
{%- assign animation_column = 1 -%}

<div class="site-nav__dropdown megamenu text-left">
<div class="page-width">
<div class="grid{% if dropdown_alignment == 'center' or dropdown_alignment == 'left' %} grid--center{% endif %}">
<div class="grid__item medium-up--one-fifth appear-animation appear-delay-{{ animation_column }}">
{%- assign animation_column = animation_column | plus: 1 -%}

{% for childlink in link.links %}
{%- assign create_new_column = false -%}

{% if childlink.levels > 0 and forloop.index != 1 %}
{%- assign create_new_column = true -%}
{% endif %}

{% if childlink.levels == 0 and previous_column_type == 'full' %}
{%- assign create_new_column = true -%}
{% endif %}

{% if create_new_column %}
</div><div class="grid__item medium-up--one-fifth appear-animation appear-delay-{{ animation_column }}">
{%- assign animation_column = animation_column | plus: 1 -%}
{% endif %}

{%- assign subcollection_drop = false -%}
{% if childlink.levels > 0 and childlink.url contains '/collections/' %}
{%- assign subcollection_handle = childlink.url | remove: '/collections/' -%}
{%- assign subcollection_drop = collections[subcollection_handle] -%}
{% if subcollection_drop.image != blank %}
<a
href="{{ childlink.url }}"
class="megamenu__colection-image"
style="background-image: url({{ collections[subcollection_handle].image | img_url: '400x' }})"><span class="hide">{{ childlink.title }}</span></a>
{% endif %}
{% endif %}
  
{% if childlink.levels > 0 and childlink.url contains '/pages/' and is_megamenu %}
{% if childlink.handle == "our-story" %}
<div class="h5 {{ link.handle }}">
<a href="{{ childlink.url }}" class="megamenu__colection-image" data-handle="{{ childlink.handle }}"
class="megamenu__colection-image"
style="background-image: url(//cdn.shopify.com/s/files/1/0407/5998/4284/files/Our_Story.jpg?v=1646136326)"><span class="hide">{{ childlink.title }}</span></a>
</div>
{% endif %}
{% if childlink.handle == "sustainability" %}
<div class="h5 {{ link.handle }}">
<a href="{{ childlink.url }}" class="megamenu__colection-image" data-handle="{{ childlink.handle }}"
class="megamenu__colection-image"
style="background-image: url(https://cdn.shopify.com/s/files/1/0283/1338/7053/files/sustainability.jpg?v=1660742522)"><span class="hide">{{ childlink.title }}</span></a>
</div>
{% endif %}
{% if childlink.handle == "vote-now" %}
<div class="h5 {{ link.handle }}">
<a href="{{ childlink.url }}" class="megamenu__colection-image" data-handle="{{ childlink.handle }}"
class="megamenu__colection-image"
style="background-image: url(https://cdn.shopify.com/s/files/1/0283/1338/7053/files/vote_now.jpg?v=1660742498)"><span class="hide">{{ childlink.title }}</span></a>
</div>
{% endif %}
{% endif %}
{% if childlink.levels > 0 and childlink.url contains '/blogs/' %}
{%- assign article_handle = childlink.url | remove: '/blogs/' -%}
{%- assign article_drop = articles[article_handle] -%}
{% if article_drop.image != blank %} 
<div class="h5 {{ link.handle }}">
<a href="{{ childlink.url }}" data-handle="{{ article_handle }}"
class="megamenu__colection-image"
style="background-image: url({{ articles[article_handle].image | img_url: '400x' }})"><span class="hide">{{ childlink.title }}</span></a>
</div>
{% endif %}
{% endif %}
{% comment %}
<div class="h5">
<a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--top-level">{{ childlink.title }}</a>
</div>
{% endcomment %}

{% if childlink.levels > 0 %}
{%- assign previous_column_type = 'full' -%}
{% else %}
{%- assign previous_column_type = 'single' -%}
{% endif %}

{% for grandchildlink in childlink.links %}
<div>
<a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">
{{grandchildlink.title}}
</a>
</div>
{% endfor %}
{% endfor %}
</div>
</div>
</div>
</div>
{% elsif has_dropdown %}
<ul class="site-nav__dropdown text-left">
{% for childlink in link.links %}
{%- assign has_sub_dropdown = false -%}
{% if childlink.links != blank %}
{%- assign has_sub_dropdown = true -%}
{% endif %}

<li class="{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
<a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--second-level {% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
{{ childlink.title | escape }}
{% if has_sub_dropdown %}
<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
{% endif %}
</a>
{% if has_sub_dropdown %}
<ul class="site-nav__deep-dropdown">
{% for grandchildlink in childlink.links %}
<li>
<a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">{{ grandchildlink.title | escape }}</a>
</li>
{% endfor %}
</ul>
{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
</li>
{% endfor %}
</ul>

<style>
                    
    a.site-nav__item .sale-off {
    color: #ff0007;
    }
    .megamenu__colection-image ~ .h5 {
    display: none;
    }
    
    .site-nav__dropdown.megamenu {
    padding: 30px 10px;
    }
    
    .site-nav__dropdown.megamenu > .page-width {
    padding: 0;
    }
    
    .site-header .site-nav__dropdown.megamenu > .grid:after {
    display: none;
    }
    
    .site-header .site-nav__dropdown.megamenu .grid__item:not(:first-child) {
    padding-left: 10px;
    }
    
    @media (min-width: 1024px) {
    .site-header .site-nav__dropdown.megamenu .grid__item:not(:first-child) {
    padding-left: 20px;
    }
    .site-nav__dropdown.megamenu {
    padding: 50px 10px;
    }
    }
    .site-nav__link--underline::after {
    
    transform: scaleX(0);  
    transition: transform 0.5s ease-in-out;
    }
    
    .site-nav__link--underline:hover:after { transform: scaleX(1); }
</style>

<script>
(function start() {
if (document.getElementsByClassName('site-header') && window.jQuery !== undefined) {
var $ = window.jQuery;

if ($('.site-nav__dropdown.megamenu .grid__item')[0].children.length > 11) {
var extraNavs = $('.site-nav__dropdown.megamenu .grid__item:first-child div:not(.h5):not(:nth-child(-n+11))')
extraNavs.wrapAll("<div class='grid__item medium-up--one-fifth appear-animation appear-delay-1'></div>")
var extraCol = $('.site-nav__dropdown.megamenu .grid.grid--center .grid__item:first-child > .grid__item')
var colHeader = $('.site-nav__dropdown.megamenu .grid.grid--center .grid__item:first-child > .h5')
colHeader.clone().prependTo(extraCol).css('visibility', 'hidden')
extraCol.insertAfter('.site-nav__dropdown.megamenu .grid.grid--center .grid__item:first-child')
}

} else {
setTimeout(start, 25);
}
})();
</script> -->


<style>
/*   .megamenu-link-title{
    text-decoration: underline;
    text-underline-offset: 12px;
  } */

   .megamenu-link-title .first-megamenu-title-hmv{
   display: none;
  }
/* hmv-24 textstytling */


@media (min-width: 769px){
  a.fa_custom_lsp {
      /* letter-spacing: 0.04em;
      font-size: 12.5px; */
      color: #2B2725;
      /* H3 Desktop */
      font-family: Intervogue;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 17px; /* 130.769% */
      letter-spacing: 0.52px;
      text-transform: uppercase;
    }
    .np-h6.site-nav__dropdown-link{
        color: #2B2725;
              /* H4 Desktop */
        font-family: Intervogue;
        font-size: 12.5px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: 21px !important;
        letter-spacing: 0.25px !important;
        text-transform: capitalize;
    }

}




/* hmv-24 textstytling */
    .site-nav__dropdown.megamenu div.fa-grandchild-custom .site-nav__dropdown-link:hover {
        font-weight: 400;
    }  

  .dropdown-menu-child-part, .dropdown-menu-header-part{
    line-height:21px !important;
    letter-spacing:0.04em !important;
}

  
  .site-navigation .new-custom-dropdown .megamenu-link-title a{
    text-decoration: underline;
    text-underline-offset: 18px;
    /* text-decoration-color: rgba(43, 39, 37, 0.5); */
    padding-bottom: 25px;
    color:  #ADACAB;   
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; 
    letter-spacing: 0.52px;
    text-transform: uppercase;
  }

  body:has(.site-header__search-container.is-active) #MainContent {
    pointer-events: none;
  }
  body:has(.site-nav--has-dropdown.show-megamenu-dropdown:hover) #MainContent::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 26;
  }
 


  .site-navigation li:nth-child(2) .new-custom-dropdown div:nth-child(4) .megamenu-link-title a,
  .site-navigation li:nth-child(2) .new-custom-dropdown div:nth-child(5) .megamenu-link-title a
  {
    text-decoration: none;
  }
/*   .select-menu{
    font-weight: 600 !important;
    text-decoration: underline;
  } */
</style>
                    
<script>
//This code is part of menu hover functionality, rest of the code is in theme.js

$('.site-nav__link--underline').on('mouseenter touchstart', function(){
    var html = document.querySelector("html")
    var activeSearchBar = document.querySelector(".site-header__search-container")
    // this if is to close if the search bar is open
    if (html.classList.contains("js-drawer-open--search")) {
      activeSearchBar.classList.add("is-transitioning")
      html.classList.add('js-drawer-closing');
      html.classList.remove("js-drawer-open--search")
      window.setTimeout(function() {
          html.classList.remove('js-drawer-closing');
          activeSearchBar.classList.remove("is-transitioning")
      }, 500);
      activeSearchBar.classList.remove("is-active")
    }  
 
     $(this).parent('.site-nav--has-dropdown').addClass('show-megamenu-dropdown');
     $('.site-nav--has-dropdown .site-nav__link--underline').not(this).parent().removeClass('show-megamenu-dropdown'); 
     
  });
  $('.site-nav__dropdown ').on('mouseenter touchstart', function(){
    var html = document.querySelector("html")
    var activeSearchBar = document.querySelector(".site-header__search-container")
    // this if is to close if the search bar is open
    if (html.classList.contains("js-drawer-open--search")) {
      activeSearchBar.classList.add("is-transitioning")
      html.classList.add('js-drawer-closing');
      html.classList.remove("js-drawer-open--search")
      window.setTimeout(function() {
          html.classList.remove('js-drawer-closing');
          activeSearchBar.classList.remove("is-transitioning")
      }, 500);
      activeSearchBar.classList.remove("is-active")
    }
    $(this).parent('.site-nav--has-dropdown').addClass('show-megamenu-dropdown');
    //  $('.site-nav--has-dropdown .site-nav__link--underline').not(this).parent().removeClass('show-megamenu-dropdown'); 
     
  });
</script>


{% comment %} document.querySelector("{{ section-id}}").addEvenetListner("") {% endcomment %}