<div class="pdp-drawer-wrapper">
  <div class="delivery-retunrs-wrapper">
    <div class="pdp-drawer-header">
      <h2 class="pdp-drawer-h2 delivery-title pdp-drawer-title">Delivery & Returns</h2>
      <div class="pdp-drawer-close">
        <svg
          width="15"
          height="15"
          viewBox="0 0 17 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L16 16M1 16L16 1" stroke="black" />
        </svg>
      </div>
    </div>
    <div class="pdp-drawer-contents {% if  localization.country.iso_code == "GB"%}show-UK {% elsif localization.country.currency.iso_code == "EUR"%}show-EU{% elsif localization.country.iso_code == "US"%}show-USA{% else %}rest-world{% endif %}">
      {{ pages[settings.product_delivery_return].content }}
    </div>
  </div>

  <div class="tailoring-service-wrapper">
    <div class="pdp-drawer-header">
      <h2 class="pdp-drawer-h2 pdp-drawer-title">Tailoring Service</h2>
      <div class="pdp-drawer-close">
        <svg
          width="15"
          height="15"
          viewBox="0 0 17 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L16 16M1 16L16 1" stroke="black" />
        </svg>
      </div>
    </div>
    <div class="pdp-drawer-contents">
      {{ pages["sojo-drawer"].content }}
    </div>
  </div>

  <div class="terms-and-condition-wrapper">
    <div class="pdp-drawer-header">
      <h2 class="drawer-title">Terms & Conditions</h2>
      <div class="pdp-drawer-close">
        <svg
          width="15"
          height="15"
          viewBox="0 0 17 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L16 16M1 16L16 1" stroke="black" />
        </svg>
      </div>
    </div>
    <div class="pdp-drawer-contents">
      {{ pages["gift-card-t-c"].content }}
    </div>
  </div>

  <div class="care-instructions-container">
    <div class="pdp-drawer-header">
      <h2 class="pdp-drawer-h2 pdp-drawer-title">Care Instructions</h2>
      <div class="pdp-drawer-close">
        <svg
          width="15"
          height="15"
          viewBox="0 0 17 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L16 16M1 16L16 1" stroke="black" />
        </svg>
      </div>
    </div>
    <div class="pdp-drawer-contents">
      <h2 class="pdp-drawer-product-name">{{ product.title }}</h2>
      {% assign care-instructions = product.metafields.custom.care_instructions | split: "." %}
      <ul>
        {% for instruction in care-instructions %}
            <li class="care-instruction-item pdp-drawer-h2">{{ instruction }}</li>
        {% endfor %}
      </ul>
      <a href="https://ninetypercent.com/pages/new-garment-care" class="care-instruction-link"> Learn more about garment care</a>
<!--       {{ product.metafields.custom.care_instructions }} -->
    </div>
  </div>


  <div class="pdp-material-container">
    {%- for tag in product.tags -%}
      {%- if tag contains '_organic-cotton' or tag contains '_tenceltm' or tag contains '_seacell-1' or tag contains '_ecovero-viscose' or tag contains '_micromodal-1' or tag contains '_velour' or tag contains '_recycled-polyamide' or tag contains '_polyester-1' or tag contains '_linen-1' or tag contains '_nylon' or tag contains '_enka®-viscose' or tag contains '_viscose-1' or tag contains '_cupro-1' or tag contains '_fillsens®' or tag contains 'lyocell-1' or tag contains '_cotton-1' -%}
        {%- assign include_page_handle = tag | split: '_' -%}
        {%- assign include_page = pages[include_page_handle.last] -%}
        <div class="pdp-drawer-header">
          <h2 class="drawer-title">{{ include_page.title }}</h2>
          <div class="pdp-drawer-close">
            <svg
              width="15"
              height="15"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L16 16M1 16L16 1" stroke="black" />
            </svg>
          </div>
        </div>
        <div class="pdp-drawer-contents material-content">
          {{ include_page.content }}
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>

<div class="pdp-material-factory-container">
  <div class="pdp-drawer-header">
    <h2 class="pdp-drawer-h2 pdp-drawer-title">Materials & Factory</h2>
    <div class="pdp-drawer-close">
      <svg
        width="15"
        height="15"
        viewBox="0 0 17 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L16 16M1 16L16 1" stroke="black" />
      </svg>
    </div>
  </div>
  {%- for tag in product.tags -%}
    {%- if tag contains '_organic-cotton' or tag contains '_tenceltm' or tag contains '_seacell-1' or tag contains '_ecovero-viscose' or tag contains '_micromodal-1' or tag contains '_velour' or tag contains '_recycled-polyamide' or tag contains '_polyester-1' or tag contains '_linen-1' or tag contains '_nylon' or tag contains '_enka®-viscose' or tag contains '_viscose-1' or tag contains '_fillsens®' or tag contains 'lyocell-1' or tag contains '_cotton-1' -%}
      {%- assign include_page_handle = tag | split: '_' -%}
      {%- assign include_page = pages[include_page_handle.last] -%}

      <div class="pdp-drawer-contents material-factory-content">
        <div class="material-content">
          <p class="pdp-drawer-h3">{{ include_page.title }}</p>
            {{ include_page.content }}
        </div>
        
      </div>
    {%- endif -%}
  {%- endfor -%}
        {% assign meta_factory = product.metafields.custom.factory %}
        {% case meta_factory %}
          {% when 'Echotex, Bangladesh' %}
            {% assign factory_handle = "factory" %}
          {% when 'Echo Tekstil, Turkey' %}
            {% assign factory_handle = 'echo-tekstil-turkey' %}
          {% when 'Novo Look Atlier, Portugal' %}
            {% assign factory_handle = 'copy-of-echoknits-sweaters-ltd' %}
          {% when 'Echoknits Sweaters Ltd. Bangladesh' %}
            {% assign factory_handle = 'echoknits-sweaters' %}
          {% else %}
            {% assign factory_handle = 'factory' %}
        {% endcase %}
        <div class="factory-content">
          {{ pages[factory_handle].content }}
        </div>
</div>

    <div class="size-guide-container">
    <div class="pdp-drawer-header">
      <h2 class="pdp-drawer-h2 pdp-drawer-title">Size Guide</h2>
      <div class="pdp-drawer-close">
        <svg
          width="15"
          height="15"
          viewBox="0 0 17 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L16 16M1 16L16 1" stroke="black" />
        </svg>
      </div>
    </div>
    <div class="pdp-drawer-contents">
      <h2 class="pdp-drawer-product-name">{{ product.title }}</h2>
        <!-- START KiwiSizing code !-->
        <div
          id="KiwiSizingChart"
          data-collections="{{ product.collections | map: 'id' | join: ','}}"
          data-tags="{{ product.tags | join: ',' | escape}}"
          data-product="{{product.id}}"
          data-vendor="{{product.vendor | escape}}"
          data-product-name="{{product.title}}"
          data-product-images="{{product.images | json| escape}}"
          data-type="{{product.type | escape}}"></div>
        <!-- END KiwiSizing code !-->
      </div>
    </div>
  </div>


<style>
  /* size guide  */
  .show-size-guide-pdp.pdp-drawer-is-open  .pdp-drawer-wrapper.pdp-drawer-open .size-guide-container .pdp-drawer-contents #KiwiSizingChart{
    color: #2B2725 !important;
  }
  .show-size-guide-pdp .pdp-drawer-wrapper.pdp-drawer-open{
    width: 706px;   
  }
  #KiwiSizingChart{
    font-family: Intervogue !important;
  }

  .ks-chart-individual .ks-html-content:first-child{
    padding-left: 29px;
    padding-bottom: 42px;
    border-bottom: .25px solid rgba(43, 39, 37, 0.50);    
  }
  .ks-chart-individual  .ks-html-content+ .ks-table-content-wrapper + .ks-html-content{
    padding-top: 25px;
    padding-bottom: 7px;    
  }
  .ks-chart-individual .ks-html-content:first-child p span, .ks-chart-individual  .ks-html-content+ .ks-table-content-wrapper + .ks-html-content p{
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 25px !important;
    letter-spacing: 0.30px !important;
  }
  .ks-table-content-wrapper {
    margin: 50px auto 10px!important;
  }
  .ks-table-content-wrapper .ks-table-header{
    color: #2B2725 !important;
    padding-bottom: 26px;
    font-weight: 500;
  }
  .ks-unit-toggle-wrapper{
    margin-bottom: 15px;
    text-align: start !important;
    color: #2B2725;
  }
  .ks-table tr:first-child td.ks-table-header-cell, .ks-table tr td.ks-table-header-cell:first-child,.ks-table .ks-table-cell{
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 17px !important;
    letter-spacing: 0.26px !important;
    text-align: start;
    color: #2B2725;
  }
  .ks-table-wrapper table, .ks-table-wrapper td, .ks-table-wrapper th{
    border-bottom-width:1px !important ;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width:0px ;
  }
  .ks-toggle-style-0 .ks-unit-toggle-wrapper .ks-unit-toggle{
    border: none;
    line-height: 25px;
  }
  .ks-toggle-style-0 .ks-unit-toggle-wrapper .ks-unit-toggle-label.kiwi-active, .ks-toggle-style-2 .ks-unit-toggle-wrapper .ks-unit-toggle-label.kiwi-active{
    text-decoration: underline;
    background:none;
    color: #2B2725;
    font-weight: 500;
  }
  .ks-image{
    margin-top: 60px !important;
  }
  .ks-toggle-style-0 .ks-unit-toggle-wrapper .ks-unit-toggle-label+.ks-unit-toggle-label{
    border-left: 0px solid;
  }
  .ks-toggle-style-0 .ks-unit-toggle-label, .ks-toggle-style-0 .ks-unit-toggle-wrapper .ks-unit-toggle-label, .ks-toggle-style-2 .ks-unit-toggle-wrapper .ks-unit-toggle-label{
    padding-left: 0px !important;
    color: #2B2725;
  }
  /*  delivery returns */
  .pdp-drawer-h2.deliveryDetails{
    display: none;
  }
  .pdp-drawer-h2.returns-details{
    font-size: 15px;
    list-style-type: " –   ";
  }
  .pdp-drawer-h2.countryDeliveryDetails{
    font-size: 15px;
    list-style-type: " –   ";
  }

  .show-drawer-delivery.pdp-drawer-is-open .pdp-drawer-h2.countryDeliveryDetails{
    padding-bottom: 43px;      
  }
  .show-drawer-delivery.pdp-drawer-is-open .pdp-drawer-h2.countryDeliveryDetails li{
    margin-bottom: 0px;
  }


  
  td.ks-table-cell {
   padding: 21px;
  }
  .intSizeChart table tr td{
    padding: 16px 21px !important;
  }
  .sc-title{
    color: #2B2725;
    font-size: 15px ;
    font-weight: 500 ;
    line-height: 17px ;
    letter-spacing: 0.30px ;
    margin-top: 57px;
    text-transform: capitalize;
  }
  .intSizeChart{
    color: #2B2725 !important;
  }

  .ks-chart-individual p{
    color: #2B2725 !important;
  }
  @media only  screen and (min-width: 768px)  {
    .ks-chart-individual p{
      margin-bottom: 0px;
    }
    .sizeChartFooter{
      margin-bottom: 131px !important;
    }
    .sizeChartFooter p{
      padding-top: 25px !important;
      margin-right: 25% !important;
      border-top: 1px solid #e8e9eb !important;
      margin-bottom: 26px !important;
    }
    
    .care-instruction-link{
      margin-left: 10px;
    }
    .ks-code .sizeChartFooter{
      margin-top: 65px !important;
    }
  }
  @media only screen and (max-width: 768px){
    .pdp-drawer-product-name{
      margin-bottom: 17px !important;
      text-align: start !important;
    }
    .ks-table .ks-table-cell{
      padding-top: 21px !important;
      marging-right: 21px !important;
      padding-left: 0px !important;
      padding-bottom: 20px !important;
    }
    .ks-chart-individual .ks-html-content:first-child{
      padding-left: 0px;
      padding-bottom: 28px;       
    }
    .ks-chart-individual .ks-html-content > p{

      margin-bottom: 2px;       
    }
    .ks-table-content-wrapper .ks-table-header{
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      padding-bottom: 10px;
    }
    .ks-table-content-wrapper{
      margin-top: 30px !important;
    }
    .ks-unit-toggle-wrapper{
      margin-bottom: 0px;
    }
    .ks-table tr:first-child td.ks-table-header-cell, .ks-table tr td.ks-table-header-cell:first-child, .ks-table-row .ks-table-cell.ks-table-header-cell{
      font-size: 10px !important;
      font-weight: 400 !important;
      line-height: 17px !important;
      letter-spacing: 0.4px !important;
    }


    .ks-table .ks-table-cell{
      font-family: Intervogue;
      font-size: 12px !important;
      font-weight: 400 !important;
      line-height: 17px !important;
      letter-spacing: 0.04em !important;
      text-align: center;
    }
    .sc-title{
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      margin-top: 30px;
    }
    .ks-code .sizeChartFooter{
      margin-top: 30px;
    }
    .intSizeChart table tbody tr:first-child td, .intSizeChart table tbody tr th{
      font-size: 10px !important;
      font-weight: 400 !important;
      line-height: 17px !important;
      letter-spacing: 0.4px !important;
    }
    .intSizeChart table tr td{
      font-size: 12px !important;
      letter-spacing: 0.04em !important;
      padding: 20px  12px !important;

    }
    .sizeChartFooter p{
      font-size: 14px !important;
      font-weight: 500 !important;
      line-height: 24px !important;
      letter-spacing: 0.02em;     
      margin-right: 28% !important;
      margin-bottom: 20px !important;
    }
    .sizeChartFooter ul li{
      padding-left: 0px !important;
      margin-bottom: 0px !important;
    }
    .location{
      padding-top: 0px !important;
    }
    .sizeChartFooter .cantact-list{
      margin-bottom: 54px !important;
    }
  
  }

  /* care instruction */
  li.care-instruction-item.pdp-drawer-h2{    
    font-family: Intervogue;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 0px !important;
  }
  .pdp-drawer-h2.pdp-drawer-title{
    font-weight: 500 !important;
  }
  .pdp-drawer-product-name{
    font-family: Intervogue;
    margin-bottom:30px ;
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;   
    letter-spacing: 0.32px;
    color: rgba(43, 39, 37, 1);
  }
  .care-instructions-container .pdp-drawer-contents ul, .care-instructions-container .pdp-drawer-contents ol{
    list-style-type: " –   ";
    padding-left: 20px;
    padding-bottom: 5px;
  }

  /* materials and factory */
  .factory-name.pdp-drawer-h3 + p + ul, .factory-name.pdp-drawer-h3 + p + ol{
    list-style-type: " –   ";
  }
  .factory-name.pdp-drawer-h3 + p +  ul li, .factory-name.pdp-drawer-h3 + p +  ol li{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.52px;
    margin-bottom: 0px;
    font-family: Intervogue;
  }
  .pdp-drawer-contents.material-factory-content .material-content ul,.pdp-drawer-contents.material-factory-content .material-content ol{
    list-style-type: " –   ";
    margin-bottom: 40px;
  }
  .pdp-drawer-contents.material-factory-content .material-content ul li, .pdp-drawer-contents.material-factory-content .material-content ol li{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.52px;
    font-family: Intervogue;
   
  }
  .show-materials-factory-pdp.pdp-drawer-is-open .pdp-drawer-contents.material-factory-content .material-content ul li,.show-materials-factory-pdp.pdp-drawer-is-open .pdp-drawer-contents.material-factory-content .material-content ol li{
    margin-bottom: 0px !important;
  }

  .pdp-drawer-contents.material-factory-content .material-content ul li a, .pdp-drawer-contents.material-factory-content .material-content ol li a{
    text-decoration: underline;
  }
  .material-content .pdp-drawer-h3{
    margin-bottom: 34px;
  }
  /* .care-instruction-item.pdp-drawer-h2{
    position: relative;
  }
  .care-instruction-item.pdp-drawer-h2::before {
    content: ''; 
    display: block;
    width: 4px; 
    height: 4px;
    background-color: #2B2725;
    border-radius: 50%; 
    position: absolute; 
    left: -15px;
    top: 11px;
  } */
  /* .care-instruction-item.pdp-drawer-h2::marker{
    font-size: 0px;
  } */
  .pdp-material-factory-container{
    display: none;
  }
  .pdp-drawer-h3.country-name.EU,
  .pdp-drawer-h3.country-name.UK,
  .pdp-drawer-h3.country-name.USA,
  .pdp-drawer-h3.country-name.rest-world,
  .pdp-drawer-h2.countryDeliveryDetails.UK,
  .pdp-drawer-h2.countryDeliveryDetails.EU,
  .pdp-drawer-h2.countryDeliveryDetails.USA,
  .pdp-drawer-h2.countryDeliveryDetails.rest-world,
  .pdp-drawer-h2.EU
  {
    display: none;
  }
  .delivery-retunrs-wrapper .pdp-drawer-contents.rest-world .pdp-drawer-h3.country-name.rest-world,
  .delivery-retunrs-wrapper .pdp-drawer-contents.rest-world .pdp-drawer-h2.countryDeliveryDetails.rest-world{
    display: block;
  }
   .delivery-retunrs-wrapper .pdp-drawer-contents.show-UK .pdp-drawer-h3.country-name.UK,
  .delivery-retunrs-wrapper .pdp-drawer-contents.show-UK .pdp-drawer-h2.countryDeliveryDetails.UK{
    display: block;
  }
  .delivery-retunrs-wrapper .pdp-drawer-contents.show-EU .pdp-drawer-h3.country-name.EU,
  .delivery-retunrs-wrapper .pdp-drawer-contents.show-EU .pdp-drawer-h2.countryDeliveryDetails.EU,
  .delivery-retunrs-wrapper .pdp-drawer-contents.show-EU .pdp-drawer-h2.EU{
    display: block;
  }
  .delivery-retunrs-wrapper .pdp-drawer-contents.show-USA .pdp-drawer-h3.country-name.USA,
  .delivery-retunrs-wrapper .pdp-drawer-contents.show-USA .pdp-drawer-h2.countryDeliveryDetails.USA{
    display: block;
  }
  .care-instruction-link{
    color: #2B2725;
    font-family: Intervogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.32px;
    text-decoration-line: underline;
  }
  .sojo-drawer-content{
    padding-bottom: 60px;
    border-bottom: .25px solid rgba(43, 39, 37, 0.50);
  }
    
  .pdp-drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.25px solid rgba(43, 39, 37, 0.50);
    padding-bottom: 34px;
    /* padding-top: 69px; */
  }
  .pdp-material-container .pdp-drawer-header:not(:first-child) .pdp-drawer-close:not(:first-child){
    display: none;
  }
  .pdp-drawer-contents {
    padding-top: 59px;
  }
  .show-size-guide-pdp.pdp-drawer-is-open .pdp-drawer-contents {
    padding-top: 40px;
  }
  .pdp-drawer-close {
    cursor: pointer;
    /* position: absolute;
    top: 37px;
    right: 50px; */
  }
  .drawer-title {
    font-family: 'Intervogue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2B2725;
  }
/*   .material-content {
    width: 80%;
  } */

  /*   care instruction pdp drawer content */
  
  .care-instructions-container ul {
    padding-left: 0;
  }
  @media only screen and (max-width: 1024px){
    .pdp-drawer-wrapper.pdp-drawer-open{
      padding: 0px 20px;
    }
    .pdp-drawer-header{
      padding-top: 55px;
    }
    .pdp-drawer-close{
      top: 25px;
      right: 20px;
    }
    .pdp-drawer-title{
      padding-bottom: 29px;
    }
    .pdp-drawer-contents{
      padding-top: 38px;
    }
    /* .location{
      padding-top: 27px !important;
    } */
    .country-name{
      padding-bottom: 40px;
    }
    .pdp-drawer-h2.returns-title.pdp-drawer-title{
      padding-top: 38px;
      padding-bottom: 39px;
    }
  }

/*   end of care instruction pdp drawer content */
  @media only screen and (max-width: 768px) {
    .pdp-drawer-wrapper {
      width: 100%;
    }
  }
  .material-content .pdp-drawer-h2{
    padding-top: 33px;
    padding-bottom: 60px;
  }
</style>

<script>
  $('.pdp-drawer-close').on('click', function(e) {
    if ($('body').hasClass('show-drawer-delivery') || $('body').hasClass('show-care-instructions') || $('body').hasClass('show-material-pdp') || $('body').hasClass('show-size-guide-pdp') || $('body').hasClass('show-drawer-tailoring-service') || $('body').hasClass('show-drawer-terms-condition-gift-card') || $('body').hasClass('show-materials-factory-pdp')) {
      $('body').removeClass('show-drawer-delivery');
      $('body').removeClass('show-care-instructions');
      $('body').removeClass('show-material-pdp');
      $('body').removeClass('show-drawer-material-pdp');
      $('body').removeClass('show-size-guide-pdp');
      $('body').removeClass('show-drawer-tailoring-service');
      $('body').removeClass('show-drawer-terms-condition-gift-card');
      $('body').removeClass('show-materials-factory-pdp');
    }
    e.preventDefault();
    $('.pdp-drawer-wrapper').removeClass("pdp-drawer-open");
    $('body').removeClass('pdp-drawer-is-open');
    $('.cart-window-bg').removeClass("window-show");
    $('html').removeClass('lock-scroll js-drawer-open');
  })
</script>