{%- assign swatch_file_extension = 'png' -%}
{%- assign is_color = false -%}
{%- assign color_swatch_drop = option_drop -%}
{%- assign color_option_index = 0 -%}

{%- if settings.product_color_swatches -%}
  {%- for option in product.options_with_values -%}
    {%- if option == color_swatch_drop -%}
      {%- assign color_option_index = forloop.index0 -%}
      {%- assign downcased_option = color_swatch_drop.name | downcase -%}
      {%- if downcased_option contains 'color' or downcased_option contains 'colour' -%}
        {%- assign is_color = true -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<div class="variant-wrapper variant-wrapper--{{ settings.variant_type }} js">
  <label class="variant__label{% if option.name == 'Default' or option.name == 'Title' %} hidden-label{% endif %}{% unless settings.variant_labels_enable %} hidden-label{% endunless %}"
    for="ProductSelect-{{ section_id }}-option-{{ forloop.index0 }}">
   Choose a {{ option.name }}: &nbsp
    {%- if is_color -%}
      <span class="variant__label-info">
        &mdash;
        <span
          id="VariantColorLabel-{{ section_id }}-{{ forloop.index0 }}"
          data-option-index="{{ color_option_index }}">
          {{ option.selected_value }}
        </span>
      </span>
    {%- endif -%}
    {%- if option.name == 'Size' or option.name == 'size' -%}
    		<span class="popupModal pdp-size-guide" data-id="size-guide">Size guide</span>
    {%- endif -%}
    
    
  </label>
  {%- assign option_index = forloop.index -%}
  <fieldset class="variant-input-wrap"
    name="{{ option.name }}"
    data-index="option{{ option_index }}"
    id="ProductSelect-{{ section_id }}-option-{{ forloop.index0 }}"
     {%- if option.name == 'Size' or option.name == 'size' -%} data-size-order="{%- if settings.variant_size_reorder -%}{{ settings.variant_size_reorder }}{%- endif -%}" {%- endif -%}       
            >
    {%- for value in option.values -%}
      {%- assign product_available = true -%}
      {%- if product.options.size == 1 -%}
        {%- assign product_available = product.variants[forloop.index0].available -%}
      {%- endif -%}
      <div
        class="variant-input"
        data-index="option{{ option_index }}"
        data-value="{{ value | escape }}">
        <input type="radio"
               {%- if option.name == 'Color' or option.name == 'color' -%}
               		{% if option.selected_value == value %} checked="checked"{% endif %}
               {%- endif -%}
               {%- if option.name == 'Size' or option.name == 'size'-%}
					{%- assign is_size = false -%}
               {%- endif -%}
               {%- if option.name == 'gift card amount' -%}
					{%- assign is_gift = false -%}
               {%- endif -%}

          value="{{ value | escape }}"
          data-index="option{{ option_index }}"
          name="{{ option.name }}"
          class="variant__input-{{ section_id }}{% unless product_available %} disabled{% endunless %}{% if is_color %} variant__input--color-swatch-{{ section_id }}{% endif %}"
          {% if is_color %} data-color-name="{{ value | escape }}"{% endif %}
          {% if is_color %} data-color-index="{{ color_option_index }}"{% endif %}
          id="ProductSelect-{{ section_id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}">
        {%- if is_color -%}
          {%- assign color_image = value | handle | append: '.' | append: swatch_file_extension | asset_img_url: '50x' | prepend: 'https:' | split: '?' | first -%}
          {%- assign color_swatch_fallback = value | split: ' ' | last | handle -%}
          <label
            for="ProductSelect-{{ section_id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
            class="variant__button-label color-swatch color-swatch--{{ value | handle }}{% unless product_available %} disabled{% endunless %}"
            style="background-image: url({{ color_image }}); background-color: {{ color_swatch_fallback }};"
          >
            {{ value | escape }}
          </label>
        {%- else -%}
          <label
            for="ProductSelect-{{ section_id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
            class="variant__button-label{% unless product_available %} disabled{% endunless %}">{{ value | escape }}
        	<img class="crossed" src="https://cdn.shopify.com/s/files/1/0283/1338/7053/files/sold-out.png?v=1630057857" aria-label="sold out" alt="sold out" >
        </label>
        {%- endif -%}
      </div>

    {%- endfor -%}
  </fieldset>
</div>
<style>
  #shopify-section-product-sections-template-echo .variant-input-wrap .variant-input.crossed-out label {
  	opacity: 0.6;
	background-color: #fff;
	color: #000;
  
  }
  img.crossed {
   display:none;
  }
  .variant-input.crossed-out label img.crossed {
  	display: block;
    height: 100%;
	width: 100%;
	pointer-events: none;
	-o-object-fit: fill;
	object-fit: fill;
	font-family: "object-fit: fill";
	font-size: 14px;
    top: 0px;
	position: absolute;
	left: 0;
  
  }
  #shopify-section-product-sections-template-echo .variant-input-wrap .variant-input.crossed-out input[type="radio"]:checked + label{
  	background-color: #fff;
	color: #000;
  }
</style>
<script>
(function atPollForSizes() {
    if (window.jQuery !== undefined) {
        var $ = window.jQuery;
        var sizeOrderTarget = $('fieldset[data-size-order]');
        if (sizeOrderTarget.length > 0) {
            try {
                var sizeOrder = sizeOrderTarget.attr('data-size-order').split(',');
                $.each(sizeOrder, function(i, v) {
                    if (v.trim() !== '') {
                        sizeOrderTarget.append(sizeOrderTarget.children('[data-value=' + v.trim() + ']'));
                    }
                });
            } catch (err) {
                // console.log('TRY ERROR: ' + err);
            }
        } else {
            setTimeout(atPollForSizes, 25);
        }
    } else {
        setTimeout(atPollForSizes, 25);
    }
})();
</script>  
