<section class="section-wrapper-{{ section.id }} home-single-image-section">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "image-block" %}
      <div class="image-block-inner block-width-{{ block.id }} ">
        <a href="{{ block.settings.overlay-link-url }}">
          {% comment %} <img
            class="desktop-image"
            src="{{ block.settings.desktop-image | img_url: 'master' }}"
            alt=""> {% endcomment %}
          {% liquid assign image = block.settings.desktop-image %}
          {% liquid assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="desktop-image lazyload"
            data-src="{{ img_url }}"
            data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2160, 2600, 3000, 3400, 3800, 4100]"
            data-aspectratio="{{ image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ image.alt }}"
          >
        </a>
        <a href="{{ block.settings.overlay-link-url }}">
          {% comment %} <img
            class="mobile-image"
            src="{{ block.settings.mobile-image | img_url: 'master' }}"
            alt=""> {% endcomment %}
          {% liquid assign image = block.settings.mobile-image %}
          {% liquid assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="mobile-image lazyload"
            data-src="{{ img_url }}"
            data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2160, 2600, 3000, 3400, 3800, 4100]"
            data-aspectratio="{{ image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ image.alt }}"
          >
        </a>
        <div class="overlay-div">
          <div class="overlay-text">{{ block.settings.overlay-text }}</div>
          <div class="overlay-link-div">
            <a href="{{ block.settings.overlay-link-url }}" class="overlay-link">
              {{ block.settings.overlay-link-text }}
            </a>
          </div>
        </div>
      </div>

      {% when 'spacer-block' %}
      <div class="spacer-{{ block.id }}"></div>

    {% endcase %}
  {% endfor %}
</section>

<style>
  {% comment %} .np-page-width {
    max-width: 1440px;
    margin: 0 auto;
  } {% endcomment %}
  .section-wrapper-{{ section.id }}.home-single-image-section{
    padding: 0;
  }

  
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "image-block" %}
      .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }}{
        width: 100%;
        height: 100%;
        padding: 0 {{ block.settings.padding}}px;
        position: relative;
      }

      .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .desktop-image{
        width: 100%;
      }
      /* .overlay-div {
        position: absolute;
        bottom: 82px;
        right: 50%;
        left: 50%;
        white-space: nowrap;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
   */

     {% if block.settings.text-align-banner == 'top-left' %}
        .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div
        {
            position: absolute;
            top: 45px;
            left: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
            white-space: nowrap;
        }
      {% endif %}

      {% if block.settings.text-align-banner == 'top-center'%}
        .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div
        {
            position: absolute;
            top: 45px;
            left: 50%;
            right: 50%;
            -ms-transform: translate(50%, 0%);
            transform: translate(50%, 0%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            white-space: nowrap;
        }
      {% endif %}

      {% if block.settings.text-align-banner == 'top-right'%}
        .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div
        {
            position: absolute;
            top: 45px;
            right: 45px;
            -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            white-space: nowrap;
        }
      {% endif %}

      {% if block.settings.text-align-banner == 'center-left' %}
          .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div
          {
              position: absolute;
              top: 50%;
              left: 40px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              -ms-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
              white-space: nowrap;
          }
      {% endif %}

      {% if block.settings.text-align-banner == 'center'%}
        .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div
        {
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            white-space: nowrap;
        }
      {% endif %}

      {% if block.settings.text-align-banner == 'center-right' %}
          .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div
          {
              position: absolute;
              top: 50%;
              right: 45px;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              -ms-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
              white-space: nowrap;
          }
      {% endif %}

      {% if block.settings.text-align-banner == 'bottom-left' %}
          .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div
          {
              position: absolute;
              bottom: 90px;
              left: 40px;
              display: flex;
              align-items: flex-start;
              justify-content: center;
              flex-direction: column;
              -ms-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
              white-space: nowrap;
          }
      {% endif %}

      {% if block.settings.text-align-banner == 'bottom-center' %}
          .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div
          {
              position: absolute;
              bottom: 90px;
              left: 50%;
              right:50%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              -ms-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
              white-space: nowrap;
          }
      {% endif %}
      
      {% if block.settings.text-align-banner == 'bottom-right' %}
        .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div
          {
              position: absolute;
              bottom: 90px;
              right: 45px;
              display: flex;
              align-items: flex-end;
              justify-content: center;
              flex-direction: column;
              -ms-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
              white-space: nowrap;
          }
      {% endif %}

  
      .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div .overlay-text{
        font-family: 'Silvana';
        font-style: normal;
        font-weight: 400;      
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.01em;        
        margin-bottom: 28px;
      }
      .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div .overlay-text{
       
        font-size: {{ block.settings.overlay-text-font-size }}px !important;
        color: {{ block.settings.overlay-text-color }} !important;
       
      }
      .overlay-div .overlay-link-div .overlay-link {
        display: block;
        text-decoration: none;
        font-family: 'Intervogue';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 10px;
      }
      .overlay-div .overlay-link-div .overlay-link:hover {
        border-bottom: 1px solid #FFFFFF;
      }
      .home-single-image-section {
        animation: fade-in{{ block.settings.delay-time }}s ease 0s forwards;
      }

      {% if block.settings.change-aspect-ratio %}
        .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .desktop-image {
          width: 100%;
          aspect-ratio: 1400 / 677;
        }
      {% endif %}
      {% if block.settings.mobile-image %}
        .mobile-image {
          display: none;
        }
        .desktop-image {
          display: block;
        }
        @media(max-width:768px) {
          .desktop-image {
            display: none;
          }
          .mobile-image {
            display: block;
          }
        }
      {% else %}
        .mobile-image {
          display: none;
        }
      {% endif %}

      @media(max-width: 1000px) {
        .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }}{
          padding: 0 20px;
        }
      }

      @media(max-width:768px) {
        .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }}{
          width: 100%;
          height: 100%;
          padding: 0 4px;
        }
        .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .mobile-image {
          width: 100%;
          {% comment %} aspect-ratio: 360 / 384; {% endcomment %}
        }
      }
      @media(max-width:600px){
         .section-wrapper-{{ section.id }} .image-block-inner.block-width-{{ block.id }} .overlay-div .overlay-text{
            font-size: {{ block.settings.overlay-text-font-size-mobile }}px !important;
           line-height: 26px;
           margin-bottom: 25px;
         }
        .overlay-div .overlay-link-div .overlay-link{
          font-size: 14px;       
          text-align: center;
          letter-spacing: 0.05em;
        }
      }

      {% when 'spacer-block' %}
      .section-wrapper-{{ section.id }}.spacer-{{ block.id }}{
        height: {{ block.settings.spacer-height }}px;
      }
    {% endcase %}
  {% endfor %}
</style>

{% schema %}
  {
    "name": "Bannar Image",
    "settings": [],
    "blocks": [
      {
        "type": "image-block",
        "name": "Image",
        "settings": [
          {
            "type": "range",
            "id": "padding",
            "label": "Both Side Padding",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "default": 0
          },
          {
            "type": "image_picker",
            "label": "Desktop Image",
            "id": "desktop-image"
          },
          {
            "type": "image_picker",
            "label": "Mobile Image ",
            "id": "mobile-image"
          },
            {
            "type": "select",
            "id": "text-align-banner",
            "label": "Text Alignment Banner",
            "default": "bottom-center",
              "options": [
                {
                  "value": "top-left",
                  "label": "Top Left"
                },
                {
                  "value": "top-center",
                  "label": "Top Center"
                },
                {
                  "value": "top-right",
                  "label": "Top Right"
                },
                {
                  "value": "center-left",
                  "label": "Center Left"
                },
                {
                  "value": "center",
                  "label": "Center"
                },
                {
                  "value": "center-right",
                  "label": "Center Right"
                },
              {
                  "value": "bottom-left",
                  "label": "Bottom Left"
                },
                {
                  "value": "bottom-center",
                  "label": "Bottom Center"
                },
                {
                  "value": "bottom-right",
                  "label": "Bottom Right"
                }
              ]
          },
         {
            "type": "richtext",
            "id": "overlay-text",
            "label": "Overlay Text",
            "default": "<p>Lorem</p>"
          }, 
          {
            "type": "range",
            "id":"overlay-text-font-size",
            "label":"Overlay Font Size",
            "min": 26,
            "max": 60,
            "step": 1,
            "unit": "px",
            "default": 56
          },
          
          {
            "type": "color",
            "id":"overlay-text-color",
            "label":"Overlay Text Color",
            "default": "#FFFFFF"
          },
          {
            "type": "text",
            "id": "overlay-link-text",
            "label": "Overlay Link Text",
            "default": "Lorem"
          },
          {
            "type": "url",
            "id": "overlay-link-url",
            "label": "Overlay link"
          }, {
            "type": "range",
            "id": "delay-time",
            "label": "Image Delay Time",
            "min": 0,
            "max": 10,
            "step": 1,
            "unit": "s",
            "default": 3
          },
          {
            "type": "range",
            "id":"overlay-text-font-size-mobile",
            "label":"Overlay Mobile Font Size",
            "min": 26,
            "max": 60,
            "step": 1,
            "unit": "px",
            "default": 50
          },
          {
            "type": "checkbox",
            "label": "Change Aspect Ratio",
            "id": "change-aspect-ratio",
            "default": false
          }
        ]
      }, {
        "type": "spacer-block",
        "name": "Spacer",
        "settings": [
          {
            "type": "range",
            "id": "spacer-height",
            "label": "Spacer Height",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 30
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "content",
        "name": "Bannar Image Home",
        "blocks": [
          {
            "type": "image-block"
          }, {
            "type": "spacer-block"
          }
        ]
      }
    ]
  }
{% endschema %}