<section class="section-{{ section.id }} np-page-width">{% for block in section.blocks %}
    {% case block.type %}
        {% when 'hero-about-us' %} 
            <div id="wrapper-{{ block.id }}">                
              <section class="about-us-{{ block.id }}">                    
      {% if block.settings.image-first-layout == false %}
                        <div class="text-container-{{ block.id }}">
                          <div class="np-h1 title-{{ block.id }}">{{ block.settings.title }}</div> 
                          <div class="description-container-{{ block.id }}">                                <div class="np-h3 main-description-{{ block.id }}">                                    {{ block.settings.description }}
                                </div>       
                            <div class="np-h5 sub-description-{{ block.id }}">     
                              {{ block.settings.sub-description }}
                                </div>                           
        </div>                        
                        </div>              
                <div class="image-container-{{ block.id }}">      
                    {% comment %} <img class="image-{{ block.id }}" src="{{ block.settings.image | img_url: "master" }}">  {% endcomment %}
                    {% liquid assign image = block.settings.image %}
                    {% liquid assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img width="466" height="622" class="image-{{ block.id }} lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2160, 2600, 3000, 3400, 3800, 4100]"
                    data-aspectratio="{{ image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ image.alt }}"
                    >
                </div>                    
        {% else %}
                        
                <div class="image-container-{{ block.id }}"> 
                    {% comment %} <img class="image-{{ block.id }}" src="{{ block.settings.image | img_url: "master" }}"> {% endcomment %}
                    {% liquid assign image = block.settings.image %}
                    {% liquid assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img width="466" height="622" class="image-{{ block.id }} lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2160, 2600, 3000, 3400, 3800, 4100]"
                    data-aspectratio="{{ image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ image.alt }}"
                    >
        </div>                        
                <div class="text-container-{{ block.id }}">
                  <div class="np-h1 title-{{ block.id }}">{{ block.settings.title }}</div>
                  <div class="description-container-{{ block.id }}"> 
                    <div class="np-h3 main-description-{{ block.id }}">   
                      {{ block.settings.description }}
                    </div>                      
                    <div class="np-h5 sub-description-{{ block.id }}">  
                      {{ block.settings.sub-description }}
                    </div>      
                  </div>                   
                </div>                  
                {% endif %}
                </section>            
            </div>        
      {% when 'spacer' %}
            <section class="custom-spacer-{{ block.id }}">  
            
            </section>    {% endcase %}
{% endfor %}
</section>{% style %} 
    .np-page-width {
        max-width: 1440px;
        margin: 0 auto;
    }
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'hero-about-us' %}
                #wrapper-{{ block.id }} {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .about-us-{{ block.id }} {
                    display: flex;
                    gap: 100px;
                    padding: 0 {{ block.settings.padding-both-sides }}px;
                }
                .text-container-{{ block.id }} {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 61%;
                }
                .description-container-{{ block.id }} {
                    max-width: 585px;
                }
                .image-container-{{ block.id }} {
                    display: flex;
                    justify-content: center;
                    width: 50%;
                }
                .image-{{ block.id }} {
                    height: 627px;
                    aspect_ratio: 3/4;
                }
                {% if block.settings.title == 'Sustainability & Materials' %}
                    .title-{{ block.id }} {
                        max-width: 490px;
                    }
                {% endif %}
                .main-description-{{ block.id }} {
                    margin-bottom: 35px;
                }
                .sub-description-{{ block.id }} {
                }
                .hr-parent-{{ section.id }}{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                } 
                hr.hr-{{ section.id }} {
                    display: none;
                    width: 93%;
                    margin: 1rem 0;
                }
                #wrapper-{{ block.id }} .bullet-point  {  
                    margin-bottom: 40px;
                }
                {% if block.settings.show-title != true %} 
                .text-container-{{ block.id }} .title-{{ block.id }} {
                    display: none;
                }
              {% endif %}
              {% if  block.settings.show-main-description != true %} 
                .text-container-{{ block.id }}  .main-description-{{ block.id }} {
                    display: none;
                }
            {% endif %}
              {% if  block.settings.show-point != true %} 
                .text-container-{{ block.id }}  .bullet-point {
                    display: none;
                }
            {% endif %}
          @media (max-width: 1200px) {
                    .np-page-width {
        padding: 0 40px;
    }
                }
                @media (max-width: 1060px) {
                    .about-us-{{ block.id }} {
                        gap: 25px;
                    }
          .about-us-{{ block.id }} .title-{{ block.id }}{
          font-size:80px;
          }
                }
          @media (max-width: 980px) {
                    .main-description-{{ block.id }} {
          font-family: 'Silvana';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.01em;
font-feature-settings: 'ordn' on;
color: #000000;
                        margin-bottom: 20px;
                        text-align: justify;
                    }
                }
                @media (max-width: 768px) {
                    .np-page-width {
                        padding: 0 20px;
                    }
                    .about-us-{{ block.id }} {
                        display: block;
                    }
                    .text-container-{{ block.id }}{
                        flex: none;
                        order: 1;
                        width: 100%;
                    }
                    .image-container-{{ block.id }} {
                        flex: none;
                        order: 0;
                    }
                    .main-description-{{ block.id }} {
                        margin: 0;
                    }
                    .title-{{ block.id }} {
                        font-size: {{ block.settings.mobile-title-font-size }}px;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        max-width: 100%;
          line-height:60px;
                    }
                    .main-description-{{ block.id }} {
          font-family: 'Silvana';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 36px;
letter-spacing: -0.01em;
font-feature-settings: 'ordn' on;
color: #000000;
                        margin-bottom: 20px;
                        text-align: justify;
                    }
                    .sub-description-{{ block.id }} {
                    }
                    .image-container-{{ block.id }} {
                        width: 100%;
                    }
                    .about-us-{{ block.id }} {
                        width: 100%;
                    }
                    hr.hr-{{ section.id }} {
                        display: block;
                    }
                    .description-container-{{ block.id }} {
                        max-width: 100%;
                    }
                  .image-{{ block.id }}{
                    width:100%;
                    height:80%;
                }
                  @media (max-width:450px){
                    .about-us-{{ block.id }} .title-{{ block.id }}{
          font-size:60px;
          }
                  }
            {% when 'spacer' %}
                .custom-spacer-{{ block.id }} {
                    height: {{ block.settings.spacer }}px;
                }
        {% endcase %}
    {% endfor %}
{% endstyle %}
{% schema %}
{
    "name": "Our Material Hero",
    "settings": [
    ],
    "blocks": [
        {
            "name": "Hero - Text with Image",
            "type": "hero-about-us",
            "settings": [
                {
                    "type": "range",
                    "id": "padding-both-sides",
                    "min": 0,
                    "max": 300,
                    "step": 5,
                    "unit": "px",
                    "default": 0,
                    "label": "Padding Both Sides"
                },
                {
                    "type": "checkbox",
                    "id": "image-first-layout",
                    "default": false,
                    "label": "Image First Layout"
                },
                {
                    "type": "checkbox",
                    "label" : "Show-Title",
                    "id": "show-title",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "label" : "Show Main Description",
                    "id": "show-main-description",
                    "default": false
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Sustainability & Materials"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Main Description",
                    "default": "Ninety Percent was founded in London in 2018 born of the friendship between Para Hamilton and Shafiq Hassan. Our label is established on their revolutionary spirit of care, and our business culture focused on profit sharing thus providing the tools of empowerment for everyone involved in the creation of our collections."
                },
                {
                    "type": "text",
                    "id": "sub-description",
                    "label": "Sub Description",
                    "default": "Back in 1988, Para and Shafiq met in London and bonded over conscious thoughts on wildlife, anti-poverty, world music and disappearing tribesmen and crafts. For over 30 years, their shared values have powered their friendship and business endeavours. Now with Ninety Percent they’re taking tangible strides for the world we want."
                },
              {
                    "type": "range",
                    "id": "mobile-title-font-size",
                    "min": 0,
                    "max": 300,
                    "step": 5,
                    "unit": "px",
                    "default": 55,
                    "label": "Font Size - Mobile Title"
                }
            ]
        },
        {
            "name": "Spacer",
            "type": "spacer",
            "settings": [
                {
                    "type": "range",
                    "id": "spacer",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 10,
                    "label": "Height"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Our Material Hero Section",
            "blocks": [
        {
          "type": "hero-about-us"
        },
        {
          "type": "spacer"
        }
      ]
        }
    ]
}
{% endschema %}