<section class="section-wrapper-{{ section.id }}">    
{% for block in section.blocks %}
        {% case block.type %}
            {% when "image-block" %}
         <div class="block-{{ block.id }}">   
          <div class="image-block-inner block-width-{{ block.settings.block-width }} " >           
            {% comment %} <img src="{{ block.settings.bg-image | img_url: 'master' }}" alt="">  {% endcomment %}
            {% liquid assign image = block.settings.bg-image %}
            {% liquid assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="lazyload"
            data-src="{{ img_url }}"
            data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2160, 2600, 3000, 3400, 3800, 4100]"
            data-aspectratio="{{ image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ image.alt }}"
            >          
            <p class="image-block-caption np-h6"> 
          {{ block.settings.caption-one }} 
              <a class="np-h6" href="{{ block.settings.image-url-one }}">{{ block.settings.image-url-text-one }}</a> 
          {{ block.settings.caption-two }} 
              <a class="np-h6" href="{{ block.settings.image-url-two }}">{{ block.settings.image-url-text-two }}</a> 
            </p>                        
          </div>                
        </div>            
          
          {% when 'spacer-block' %}
                <div class="spacer-{{ block.id }}">                </div>        {% endcase %}
    {% endfor %}
</section>
<style>   
  .section-wrapper-{{ section.id }} {
        max-width: 1440px;
        margin: 0 auto;
    }
    {% for block in section.blocks %}
        {% case block.type %}
            {% when "image-block" %}
          .image-block-caption.np-h6{
            font-size: 12.5px;
            line-height: 21px;
            letter-spacing: 0.5px;
          }
                .block-{{ block.id }} .block-width-full{
             width: 100%;
           }
           .block-{{ block.id }} .block-width-custom{
             width: {{ block.settings.custom-block-width | append: "px" }};
           }
                 .block-{{ block.id }} {
                    padding: 0px {{ block.settings.padding }}px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                 }
                 .block-{{ block.id }} .image-block-inner {
                    height: 100%;
                    position: relative;
                 }
                 .block-{{ block.id }} .image-block-inner img {
                    width: 100%;
                    height: 100%;
                 }
                 .block-{{ block.id }} .image-block-inner p {
                    display: none;
                 }
                .block-{{ block.id }} .image-block-inner p a{
                    text-decoration: underline;
                 }
                  .block-{{ block.id }} .image-block-inner .image-block-caption  {
                    margin-top: 3px;
                    opacity: 40%;
                 } 
                 .block-{{ block.id }} .image-block-inner .image-block-caption p {
                    margin: 0 auto;
                 }
                 {% if block.settings.show-caption %}
                    .block-{{ block.id }} .image-block-inner .image-block-caption {
                        display: block;
                     }
                 {% endif %}

                @media (max-width:960px){
              .section-wrapper-{{ section.id }} .block-{{ block.id }} {
                    padding: 0px 20px;
                }
                }
                 @media only screen and (max-width: 768px) {
                        .section-wrapper-{{ section.id }} {
                    padding: 0px 20px;
                }
                      .block-{{ block.id }} {
                         padding: 0px 0px;
                      }
                  .block-{{ block.id }} .image-block-inner {
                  margin-top:25px;
                 }
                  }
            {% when 'spacer-block' %}
                .section-wrapper-{{ section.id }}  .spacer-{{ block.id }} {
                    height: {{ block.settings.spacer-height }}px;
                }
        {% endcase %}
    {% endfor %}
</style>
{% schema %}
{
    "name": "Single Image",
    "settings": [
    ],
    "blocks": [
        {
            "type": "image-block",
            "name": "Image",
            "settings": [
                {
                  "type": "select",
                  "id": "block-width",
                  "label": "Image width",
                  "options": [
                  {
                  "value": "full",
                  "label": "Full"
                  },
                  {
                  "value": "custom",
                  "label": "Custom"
                  }
              ],
              "default": "full"
              },
              {  
                  "type": "range",
                  "id": "custom-block-width",
                  "label": "Custom block width",
                  "min": 400,
                  "max": 900,
                  "step": 5,
                  "unit": "px",
                  "default": 465
              },
      {
        "type": "checkbox",
        "id": "show-caption",
        "label": "Show caption",
        "default": true
      },
      {
                    "type": "range",
                    "id":"padding",
                    "label":"Left-Right Space of the block",
                    "min":0,
                    "max":200,
                    "step":2,
                    "unit":"px",
                    "default":52
                },
                {
                    "type": "image_picker",
                    "label": "Image Pick",
                    "id": "bg-image"
                },
              {
                    "type": "text",
                    "label": "Add First caption",
                    "id": "caption-one",
                "default":"(above) look 00 from collection 20 made of x material."
                },
                {
                    "type":"color",
                    "id":"caption-color",
                    "label":"caption text color",
                    "default": "#2B2725"
                },
              {
                "type":"url",
                "id":"image-url-one",
                "label":"First URL",
                "default":"/"
              },
              {
                "type":"text",
                "id":"image-url-text-one",
                "label":"First URL Text",
                "default":"Shop Here"
              },
              {
                    "type": "text",
                    "label": "Add Second caption",
                    "id": "caption-two",
                "default":"(above) look 00 from collection 20 made of x material."
                },
              {
                "type":"url",
                "id":"image-url-two",
                "label":"Second URL",
                "default":"/"
              },
              {
                "type":"text",
                "id":"image-url-text-two",
                "label":"Second URL Text",
                "default":"Shop Here"
              }
            ]
        },
        {
            "type": "spacer-block",
            "name": "Spacer",
              "settings":[
                {
                    "type": "range",
                    "id": "spacer-height",
                    "label": "Spacer Height",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 30
                }
              ]
        }
    ],
    "presets": [
        {
         "category":"content",
           "name":"Single Image",
           "blocks": [
        {
          "type": "image-block"
        },
        {
          "type": "spacer-block"
        }
      ]
        }
    ]
}
{% endschema %}