<section class="section-wrapper-{{ section.id }} np-page-width">

    {% for block in section.blocks %}
        {% case block.type %}
            {% when "three-image-block" %}
                <div class="block-{{ block.id }} block-width-{{ block.settings.block-width }}">
                    
                    

                        <div class="first-part">
                            <div class="first-image-part">
                                <img src="{{ block.settings.first-image | img_url: 'grande' }}" alt="" width="" height="" loading="lazy">
                            </div>
                            <div class="first-caption-part">
                                <div>
                                  <a class="np-h10" href="{{ block.settings.first-product-url }}">{{ block.settings.first-product-name }}</a>
                                    <p class="fibre-type"> {{ block.settings.first-fabric-brand }} </p>
                                </div>
                                <div>
                                    <p class="np-h6"> {{ block.settings.first-product-price }} </p>
                                </div>
                                
                            </div>
                          
                           
                        </div>


                        <div class="second-part">
                            <div class="second-image-part">
                                <img src="{{ block.settings.second-image | img_url: 'grande' }}" alt="" width="" height="" loading="lazy">
                            </div>
                            <div class="second-caption-part">
                                <div>
                                    <a class="np-h10" href="{{ block.settings.second-product-url }}">{{ block.settings.second-product-name }}</a>
                                    <p class="fibre-type"> {{ block.settings.second-fabric-brand }} </p>
                                </div>
                                <div>
                                    <p class="np-h6"> {{ block.settings.second-product-price }} </p>
                                </div>
                             
                            </div>
                           
                            
                        </div>


                        <div class="third-part">
                            <div class="third-image-part">
                                <img src="{{ block.settings.third-image | img_url: 'grande' }}" alt="" width="" height="" loading="lazy">
                            </div>
                            <div class="third-caption-part">
                                <div>
                                    <a class="np-h10" href="{{ block.settings.third-product-url }}">{{ block.settings.third-product-name }}</a>
                                    <p class="fibre-type"> {{ block.settings.third-fabric-brand }} </p>
                                </div>
                                <div>
                                    <p class="np-h6"> {{ block.settings.third-product-price }} </p>
                                </div>
                            
                            </div>
                        
                         
                        </div>


                  
        
                   
                </div>
            
            {% when 'spacer-block' %}

                <div class="spacer-{{ block.id }}">
                        
                </div>

        {% endcase %}
    {% endfor %}

</section>

<style>
  .np-page-width {
    max-width: 1440px;
    margin: 0 auto;
  }
  @media(max-width: 768px) {
    .np-page-width {
      padding: 0 20px;
    }
  }
    {% for block in section.blocks %}
        {% case block.type %}
            {% when "three-image-block" %}
                .block-{{ block.id }}.block-width-small {
                    max-width: 600px !important;
                    margin: 0 auto;
                 }
                 .block-{{ block.id }}.block-width-medium {
                    max-width: 1050px !important;
                    margin: 0 auto;
                 }
                 .block-{{ block.id }}.block-width-full {
                    max-width: 100% !important;
                 }
           
                 .block-{{ block.id }}.block-width-custom {
                    max-width: {{ block.settings.custom-block-width | append: "px" }} !important;
                    margin: 0 auto;
                 }
                 .block-{{ block.id }} {
                   display: flex;
                   flex-direction: row;
                   gap: 6px;
                 }


          .block-{{ block.id }} .fibre-type{
          font-family: 'Intervogue';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.05em;
color: #2B2725;
  margin-top: -3%;
          }
                 .block-{{ block.id }}  img {
                    height: 100%;
                    width: 100%;
                 }
               
                 .block-{{ block.id }} span p {
                    margin: 0px auto;
                 }
                 .block-{{ block.id }} span {
                    display: none;
                    color: {{ block.settings.caption-color }};
                    font-size: {{ block.settings.caption-font-size }}px;
                    font-family: {{ block.settings.caption-font-family }};
                    line-height: {{ block.settings.caption-line-height }}px;
                 }
                 .block-{{ block.id }} .first-caption-part ,  .block-{{ block.id }} .second-caption-part, .block-{{ block.id }} .third-caption-part {
                    display: flex;
                    justify-content: space-between;
          align-items:baseline;
                    width: 90%;
                    margin: 0 auto;
                 }

                 {% if block.settings.show-caption %}
                    .block-{{ block.id }} span  {
                        display: inline;
                     }
                 {% endif %}

          @media (max-width: 1050px){
  .block-{{ block.id }}{
  padding: 0 20px;
  }
          }
 
  @media only screen and (max-width: 768px) {
                    .block-{{ block.id }} span {
                        
               
                        font-size: {{ block.settings.mobile-caption-font-size }}px;
                 
                        line-height: {{ block.settings.mobile-caption-line-height }}px;
                     }
                     .block-{{ block.id }} {
                        flex-direction: column;
                      }

   .section-wrapper-{{ section.id }} .block-{{ block.id }} {
                   gap: 30px;
                 }
                  }
            {% when 'spacer-block' %}

                .section-wrapper-{{ section.id }}  .spacer-{{ block.id }} {
                    height: {{ block.settings.spacer-height }}px;
                }
        {% endcase %}
    {% endfor %}
</style>

{% schema %}
{
    "name": "Three Products",
    "settings": [
        
    ],
    "blocks": [
        {
            "type": "three-image-block",
            "name": "three-image-block",
            "settings": [
                {
                "type": "select",
                "id": "block-width",
                "label": "Block width",
                "options": [
                {
                "value": "small",
                "label": "Small"
                },
                {
                "value": "medium",
                "label": "Medium"
                },
                {
                "value": "full",
                "label": "Full"
                },
                {
                "value": "custom",
                "label": "Custom"
                }
            ],
            "default": "medium"
            },
            {  
                "type": "range",
                "id": "custom-block-width",
                "label": "Custom block width",
                "min": 200,
                "max": 1900,
                "step": 50,
                "unit": "px",
                "default": 800
            },
            {
                    "type": "checkbox",
                    "id": "show-caption",
                    "label": "Show Caption",
                    "default": true
            },

                {
                    "type": "image_picker",
                    "id": "first-image",
                    "label": "First Image"
                },
                {
                    "type": "image_picker",
                    "id": "second-image",
                    "label": "Second Image"
                },
                {
                    "type": "image_picker",
                    "id": "third-image",
                    "label": "Third Image"
                },
                
                {
                    "type":"text",
                    "id":"first-product-name",
                    "label":"First Product Name",
                    "default":  "Hydra Blouse in Pine Bark"
                }, 
                {
                    "type":"text",
                    "id":"first-fabric-brand",
                    "label":"First Fabric Brand",
                    "default": "Tencel" 
                }, 
                {
                    "type":"text",
                    "id":"first-product-price",
                    "label":"First Product Price",
                    "default": "£240"  
                }, 
              {
                "type":"url",
                "label":"First Product URL",
                "id":"first-product-url",
                "default":"/"
              },
                {
                    "type":"text",
                    "id":"second-product-name",
                    "label":"Second Product Name",
                    "default": "Hydra Blouse in Pine Bark"   
                }, 
                {
                    "type":"text",
                    "id":"second-fabric-brand",
                    "label":"Second Fabric Brand",
                    "default": "Tencel" 
                }, 
                {
                    "type":"text",
                    "id":"second-product-price",
                    "label":"Second Product Price",
                    "default": "£240"
                }, 
               {
                "type":"url",
                "label":"Second Product URL",
                "id":"second-product-url",
                "default":"/"
              },
                {
                    "type":"text",
                    "id":"third-product-name",
                    "label":"Third Product Name",
                    "default": "Hydra Blouse in Pine Bark"

                }, 
                {
                    "type":"text",
                    "id":"third-fabric-brand",
                    "label":"Third Fabric Brand",
                    "default": "Tencel" 
                }, 
                {
                    "type":"text",
                    "id":"third-product-price",
                    "label":"Third Product Price",
                    "default": "£240"
                }, 
               {
                "type":"url",
                "label":"Third Product URL",
                "id":"third-product-url",
                "default":"/"
              },
                {
                  "type": "range",
                  "id": "caption-font-size",
                  "label": "Caption Font size",
                  "min": 12,
                  "max": 50,
                  "step": 1,
                  "unit": "px",
                  "default": 16
                  },
                  {
                  "type": "range",
                  "id": "mobile-caption-font-size",
                  "label": "Caption Font size for mobile devices",
                  "min": 12,
                  "max": 50,
                  "step": 1,
                  "unit": "px",
                  "default": 16
                  },
                  {
                    "type": "font",
                    "label": "caption font family",
                    "id": "caption-font-family"
                  }, 
                  {
                    "type" : "color",
                    "label": "caption color",
                    "id": "caption-color"
                  },
                  {
                  "type": "range",
                  "id": "caption-line-height",
                  "min": 10,
                  "max": 100,
                  "step": 1,                 
                  "unit": "px",
                  "default": 37,
                  "label": "Caption Line Height"
              },
              {
                  "type": "range",
                  "id": "mobile-caption-line-height",
                  "min": 10,
                  "max": 100,
                  "step": 1,
                  "unit": "px",
                  "default": 37,
                  "label": "Caption Line Height for Mobile Devices"
              }
                

            ]
        },
        {
            "type": "spacer-block",
            "name": "Spacer",
              "settings":[
                {
                    "type": "range",
                    "id": "spacer-height",
                    "label": "Spacer Height",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 30
                }
              ]
        }
    ],
    "presets": [
        {
         "category":"content",
           "name":"Three Products",
           "blocks": [
              {
          "type": "spacer-block"
        },
        {
          "type": "three-image-block"
        },
        {
          "type": "spacer-block"
        }
      ]
        }
    ]
}
{% endschema %}